<!doctype html>
<html lang="en">

<head>
    <!-- style sheet -->
    <style>
        body {
            width: 21cm;
            height: 29.65cm;
            margin: 0px auto;
            /* change the margins as you want them to be. */
        }

        #h3 {
            padding: 0px 0px 0px 40px;
            font-size: 1.5rem;
            margin: 10px 0px 0px 0px;
        }

        #h6 {
            padding: 0px 0px 0px 40px;
            font-size: .95rem;
            margin: 10px 0px 0px 0px;
        }

        #wrap {
            width: 21cm;
            margin: 0 auto;
            position: relative;
        }

        #left_col {
            float: left;
            width: 3rem !important;
            height: 29.65cm;
            color: white;
            background-color: #3B393C;
            border-radius: 0px 16px 16px 0px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #right_col {
            float: left;
            margin: 50px 20px 0px 0px;
            width: 723px;
            height: 5rem;
            background-color: #3B393C;
            color: white;
            border-radius: 0px 0px 16px 0px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .myContainer {
            border: 1px solid #CEEAFF;
            /*#CEEAFF*/
            border-radius: 12px;
            float: left;
            background-color: #F5FBFF;
            margin: 20px 16px 0px 16px;
            padding: 20px;
            color: #707070;
            font-size: 1rem;
            font-style: normal;
        }

        .patient_info,
        .report_info,
        .result_info {
            width: 17.5cm;
        }

        /*.patient_info{
            position: absolute;
            top: 5.8cm;
        }

        .report_info{
            position: absolute;
            top: 26.8cm;
        }

        .result_info{
            position: absolute;
            top: 26.8cm;
        }*/

        .delivered_by {
            width: 7.5cm;
            margin: 20px 16px 0px 0px;
            position: absolute;
            top: 26.8cm;
            left: 1.7cm;
        }

        .checked_by {
            width: 7.5cm;
            margin: 20px 25px 0px 16px;
            position: absolute;
            top: 26.8cm;
            left: 11cm;
        }

        tr {
            line-height: 28px;
        }

        .result_info td,
        .result_info th {
            text-align: left !important;
            vertical-align: baseline;
        }
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->

    <title>Report_template</title>
</head>

<body>
    <div style="height:  29.65cm; background-color: white;">

        <div id="wrap">
            <div id="left_col"></div>
            <div id="right_col">
                <p id="h3">Armed forced Institution of Pahology</p>
                <p id="h6">Location: Shaheed Sharani, Dhaka Phone: 01769-016616 </p>
            </div>

            <div class="myContainer patient_info">
                <table style="width:7.5cm; display: inline">
                    <tr>
                        <td>Patient's Name</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>Name</td>
                    </tr>
                    <tr>
                        <td>Patient's Phone</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>01234567891</td>
                    </tr>
                    <tr>
                        <td>Patient's Email</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>dummymail@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Patient's Age</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>24 years</td>
                    </tr>
                    <tr>
                        <td>Patient's Sex</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>Female</td>
                    </tr>
                </table>

                <table style="width:7.5cm; display: inline; margin-left: 20px">
                    <tr>
                        <td>ID No</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>V123456</td>
                    </tr>
                    <tr>
                        <td>Date Received</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>07/01/2020</td>
                    </tr>
                    <tr>
                        <td>Date Delivered</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>09/01/2020</td>
                    </tr>
                    <tr>
                        <td>Referred By</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>Self</td>
                    </tr>
                    <tr>
                        <td>Specimen</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>Blood</td>
                    </tr>
                </table>
            </div>

            <div class="myContainer report_info">
                <table style="width:100%;">
                    <tr>
                        <td>Report Type</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>Serum Bilirubin</td>
                    </tr>
                    <tr>
                        <td>Relevant Estimator</td>
                        <td>&nbsp;&nbsp;: &nbsp;&nbsp;</td>
                        <td>Siemens Dimension EXL200/Beck man Coulter Au-480 Analyzer</td>
                    </tr>
                </table>
            </div>

            <div class="myContainer result_info">
                <table style="width:100%;">
                    <tr>
                        <th>Parameter</th>
                        <th>Result</th>
                        <th>Reference value</th>
                    </tr>
                    <tr>
                        <td>Serum Bilirubin(Total)</td>
                        <td>1.31 mg/dl</td>
                        <td>Adult: 0.3-1.0, Neonate: 0.6-10.50</td>
                    </tr>
                </table>
            </div>

            <div class="myContainer delivered_by">
                Delivered By : E-Med System
            </div>

            <div class="myContainer checked_by">
                Checked By : E-Med authority
            </div>

        </div>


    </div>
</body>

</html>