<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body, html {
            position: relative;
            height: 100%;
            width: 100%;
            box-sizing: content-box;
        }

        .left {
            content: "";
            border-radius: 0 35px 0 0;
            float: left;
            background-color: black;
            width: 3.5rem;
            min-height: 100%;
            height: 100%;
            background-image: url(http://www.dummyimage.com/600x400/000/fff);
            background-repeat: repeat-y;
        }

        header {
            background-color: black;
            color: azure;
            position: absolute;
            left: 3.5rem;
            top: 4.2rem;
            width: 75%;
            padding: .6rem;
            border-radius: 0 35px 0 0;
            line-height: 1.3;
        }

        #profile {
            position: absolute;
            top: 9rem;
            left: 3.5rem;

        }
    </style>
</head>
<body>

<div class="" style="height: 100%">
    <div class="left">&nbsp;</div>

</div>
<div>
    <header>
        <h2>Armed Forces Institute of Pathology, Bangladesh</h2>
        <p>Shaheed Sharani, Dhaka</p>
    </header>

    <section id="profile">
        <p>Another Data Section</p>
        <p>Another Data Section</p>
    </section>
</div>


</body>
</html>
